/* 

  @keyframes moveAlongPath {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -1000;
    }
  }

  .mainPath {
    stroke-width: 1.5;
    fill: none;
    filter: url(#glow);
    stroke-dasharray: 10, 500;
    animation: moveAlongPath 12s linear infinite;
  }

  .mainPath {
    stroke-width: 1.5;
    fill: none;
    filter: url(#glow);
    stroke-dasharray: 10, 500;
    animation:  moveAlongPath 12s linear infinite;
  }

   */
